*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

header{
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

nav{
    background: #232536;
    height: 80px;
    width: 100%;
    padding: 0 70px;
}

nav img{
    padding-top: 23px;
}

nav ul{
    float: right;
    margin-right: 20px;
}

nav ul li{
    display: inline-block;
    line-height: 79px;
    margin: 0 5px;
}

nav ul li a{
    color: white;
    font-size: 18px;
    padding-right: 10px;
}

nav ul li button{
    height: 56px;
    padding: 0 40px;
    border-radius: 0;
    border: none;
    font-size: 18px;
    font-weight: bold;
}

nav ul li button:hover{
    cursor: pointer;
}

.hamburger{
    display: none;
    cursor: pointer;
}

.bar{
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px 0;
    transition: all 0.3s ease;
    background-color: white;
}

.section1{
    display: flex;
    justify-content: space-between;
    padding: 150px 80px;
    background-color: #F4F0F8;
    margin-bottom: 100px;
}

.section1 h4{
    font-size: 30px;
    letter-spacing: 3px;
    margin-bottom: 30px;
}

.section1 h1{
    font-size: 45px;
    margin-bottom: 30px;
}

.section1 p{
    line-height: 30px;
    margin-bottom: 20px;
}

.section-button{
    width: 204px;
    height: 56px;
    background-color: #FFD050;
    border: none;
    font-size: 18px;
    margin-top: 25px;
}

#section1-text{
    width: 60%;
}

#section2-blogs{
    display: flex;
    padding: 0 80px;
    margin-bottom: 60px;
}

#section2-blogs h4{
    font-size: 25px;
    letter-spacing: 3px;
    margin-bottom: 20px;
}

#section2-blogs h1{
    font-size: 40px;
    margin-bottom: 20px;
}

#section2-blogs p{
    color: #6D6E76;
}

#section2-text{
    padding-left: 50px;
    padding-top: 50px;
    width: 65%;
}

#border-img{
    width: 100%;
    padding: 0 80px;
    margin-bottom: 60px;
}

#section2-title{
    margin-bottom: 60px;
    font-size: 40px;
    margin-left: 80px;
}

#prev{
    color: #6D6E76;
}

#next{
    color: black;
    font-size: 20px;
    padding-left: 20px;
}

#section2-button{
    text-align: center;
}

.section4{
    margin-top: 120px;
}

.section4-common{
    display: flex;
    justify-content: space-between;
    margin: 0 60px;
}

.section4-icon{
    border: 1px solid #6D6E76;
    width: 400px;
    height: 228px;
    padding: 40px;
}

#section4-text{
    font-size: 30px;
    margin-bottom: 60px;
    margin-left: 60px;
}

.section4-icon img{
    background-image: url(../images/Icon\ background.png);
}

.section4-icon p{
    margin-top: 10px;
}

.section4-title{
    font-size: 25px;
    font-weight: bold;
}

.section4-about{
    line-height: 25px;
    color: #6D6E76;
}

.section9{
    text-align: center;
    width: 640px;
    margin-left: 32%;
    margin-top: 120px;
}

.section9 h1{
    line-height: 60px;
    font-size: 40px;
    margin-bottom: 20px;
}

.section9 p{
    line-height: 30px;
    margin-bottom: 20px;
}

footer{
    background: #232536;
    width: 100%;
    padding: 0 70px;
    margin-top: 120px;
}

footer img{
    padding-top: 23px;
}

footer ul{
    float: right;
    margin-right: 20px;
}

footer ul li{
    display: inline-block;
    line-height: 79px;
    margin: 0 5px;
}

footer ul li a{
    color: white;
    font-size: 18px;
    padding-right: 10px;
}

#footer-text{
    display: flex;
    width: 100%;
    justify-content: space-around;
    background-color: #55515182;
    padding: 50px 30px;
    margin-top: 50px;
}

#footer-text h4{
    padding-top: 40px;
    font-size: 30px;
    color: white;
    width: 90%;
}

#footer-text input{
    height: 56px;
    width: 380px;
    background-color: #55515182;
    border: 1px solid #4C4C4C;
    color: white;
    margin-right: 10px;
}

#footer-icon{
    display: flex;
    justify-content: space-between;
    color: white;
    padding-top: 50px;
    padding-bottom: 50px;
}

#footer-nav{
    padding-top: 50px;
}

.icon{
    margin-left: 40px;
    margin-top: 20px;
}

.icon i{
    margin-right: 15px;
}




@media  screen and (max-width:1024px){
    nav{
        display: block;
    }

    #mylinks{
        margin-left: 0;
    }

    .hamburger{
        display: block;
        position: absolute;
        top: 5px;
        right: 0;
        margin-right: 12px;
    }

    .hamburger.active .bar:nth-child(2){
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }

    #mylinks{
        position: fixed;
        left: -100%;
        top: 80px;
        gap: 0;
        flex-direction: column;
        background-color: rgba(0, 0, 0, 0.5);
        width: 100%;
        text-align: center;
        transition: 0.3s;
        display: flex;
    }

    #mylinks li{
        margin: 16px 0;
    }

    #mylinks.active{
        left: 0;
    }

    .section1 h4{
        font-size: 20px;
    }

    .section1 h1{
        font-size: 30px;
    }

    #section2-text{
        padding-top: 10px;
    }

    #section2-blogs h4{
        font-size: 20px;
    }

    #section2-blogs h1{
        font-size: 30px;
    }

    .section4-icon{
        padding: 10px;
        width: 220px;
    }

    .section9{
        margin-left: 0;
        width: 100%;
    }

}

@media  screen and (max-width:768px){
    nav{
        display: block;
    }

    #mylinks{
        margin-left: 0;
    }

    .hamburger{
        display: block;
        position: absolute;
        top: 5px;
        right: 0;
        margin-right: 12px;
    }

    .hamburger.active .bar:nth-child(2){
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }

    #mylinks{
        position: fixed;
        left: -100%;
        top: 80px;
        gap: 0;
        flex-direction: column;
        background-color: rgba(0, 0, 0, 0.5);
        width: 100%;
        text-align: center;
        transition: 0.3s;
        display: flex;
    }

    #mylinks li{
        margin: 16px 0;
    }

    #mylinks.active{
        left: 0;
    }

    .section1{
        padding: 150px 20px;
    }

    .section1 h1{
        font-size: 25px;
    }

    .section1 img{
        width: 400px;
    }

    .section-button{
        margin-top: 0;
    }

    #section2-blogs img{
        width: 300px;
    }

    #section2-blogs{
        padding: 0 30px;
    }

    #section2-text{
        padding-left: 30px;
    }

    #section2-blogs h1{
        font-size: 20px;
    }

    .section4-common{
        margin: 0 30px;
    }

    .section4-icon{
        width: 160px;
    }

    .section4-title{
        font-size: 20px;
    }

    .section9{
        padding: 0 40px;
    }

    #footer-text h4{
        font-size: 20px;
    }

    footer{
        padding: 0 10px;
    }
}